.rank{
    display: relative;
    padding-left: 35%;
    margin-top: 50%; 
}
.rateBoard{ 
    display: block;
margin: 0 auto;
margin-top: 100px; 
} 
 * {
    font-family: "Verdana", cursive, sans-serif;
   color: none;
  }
label{
    color: white;
}
.starBoard{
    display: relative;
margin-left: 30%;}
 