#unit{
	background-color: #EEEEEE; 
	font-family: Papyrus;
	font-size: 20px;
	padding-top: 100px;
	width: 500px;
	height: 400px;
	border: 10px;
	border-color:#EEEEEE; 
}  


.container{ 
	padding-top: 100px; 
}
.media{ 
	display: flex;
	justify-content:start;
	flex-flow: wrap;
	padding:12px,18px;

}
.list{
	width: 25%;
	 
	
 }


img{  
	width: 300px;
	height: 200px; 
	

}
.tag{ 
	 
	color: #0099CC;  
      background: transparent;  
      border: 2px solid #EEEEEE;  
      border-radius: 6px;  
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px; 
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
	  z-index: 100;
	
}
.platFormName{
	font-size: large;
	color: black;
}